[project]
	description = A RESTful and extendable Backend as a Service that provides instant backend to develop sites and apps faster, with dead-simple integration for JavaScript, iOS, Android and more.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Endel Dreyer (endel)
[access "refs/for/refs/*"]
	read = group user/Endel Dreyer (endel)
	push = group user/Endel Dreyer (endel)
	label-Code-Review = -2..+2 group user/Endel Dreyer (endel)
	label-Verified = -1..+1 group user/Endel Dreyer (endel)
	rebase = group user/Endel Dreyer (endel)
	removeReviewer = group user/Endel Dreyer (endel)
	submit = group user/Endel Dreyer (endel)
[access "refs/heads/*"]
	read = group user/Endel Dreyer (endel)
	create = group user/Endel Dreyer (endel)
	push = +force group user/Endel Dreyer (endel)
	pushMerge = group user/Endel Dreyer (endel)
[access "refs/tags/*"]
	push = +force group user/Endel Dreyer (endel)
	pushTag = group user/Endel Dreyer (endel)
	pushSignedTag = group user/Endel Dreyer (endel)
