<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{template_name}</title>
  <style media="all" type="text/css">
    /* stylesheets */
  </style>
</head>
<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td class="navbar navbar-inverse" align="center">
      <table width="650px" cellspacing="0" cellpadding="3" class="container">
        <tr class="navbar navbar-inverse">
          <td colspan="4"><a class="brand" href="[YOUR WEB URL]">title</a></td>
          <td><ul class="nav pull-right"><li><a href="[YOUR LOGIN URL]">login</a></li></ul></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" align="center">
      <table width="650px" cellspacing="0" cellpadding="3" class="container">
        <tr>
          <td>{body}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" align="center">
      <table width="650px" cellspacing="0" cellpadding="3" class="container">
        <tr>
          <td>
            <hr>
            <p>{footer}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
